@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
.header_logo {
      background: rgba(255,255,255,1);
    border-bottom: 1px solid #ddd;
  color: #fff;
  /*padding: 20px 0;*/
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
     -webkit-text-fill-color: #ffffff ;
}

.header_logo p{
  margin: 0;
}
.header_logo a{
    background: #c0423f;

  color: #fff;
  font-size: 20px;
   padding: 5px 21px;
}
/* BOX LOGIN */

@-moz-document url-prefix() {
 #pageContainer  {
   height: 509px !important;
  }
}



#pageContainer {
  width: 100%;
  height:100%;
  background: url('images/5.jpg') center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#formContainer {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  height: 305px;
  transition: 0.3s ease;
  min-width: 492px;
  max-width: 492px;
}
#formContainer.switch {
  height: 368.4px;
}
#logo {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  box-sizing: border-box;
  width: 142px;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
#logo img {
  width: 84px;
  height: 84px;
  
}
#forms {
  position: relative;
  overflow: hidden;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
#forms:before {
  content: "";
 /* background: url('https://source.unsplash.com/1920x1080/daily') center fixed;*/
  background-size: cover;
  position: absolute;
  display: block;
  width: 150%;
  top: -20px;
  left: -20px;
  height: 150%;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.5);
  filter: blur(10px);
}
#forms form {
  position: relative;
  z-index: 2;
  padding: 25px;
  box-sizing: border-box;
  min-width: 350px;
  transition: 0.3s ease;
}
#forms.forgot {
  width: 0 !important;
  flex-basis: 0 !important;
}

#forgot {
  position: absolute !important;
  background: #fff;
  z-index: 3 !important;
  padding: 58px 0 59px 0 !important;
  min-width: 0 !important;
  width: 0 !important;
  overflow: hidden;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  transition-delay: 0.2s !important;
}
#forgot .fadeUp {
  position: relative;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
#forgot h1 {
  color: #444;
  font-size: 28px;
}
#forgot p {
  color: #444;
}
#forgot input[type="email"] {
  color: #444;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#forgot input[type="email"]:focus {
  box-shadow: inset 0 -2px 0 #444;
}
#forgot a {
  color: #444;
}
#forgot.forgot {
  min-width: 350px !important;
  width: 350px !important;
  padding: 60px 25px 61px 25px !important;
  transition-delay: 0s !important;
}
#forgot.forgot > .fadeUp {
  top: 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition-delay: 0.5s;
}
#login {
  position: relative;
  left: 0;
  transition-delay: 0.1s !important;
}
#login.switch {
  left: -350px;
  transition-delay: 0s !important;
}
#register {
  position: absolute !important;
  top: 0;
  right: -350px;
  transition-delay: 0s;
}
#register.switch {
  right: 0;
  transition-delay: 0.1s;
}
.formHead {
  padding-bottom: 15px;
  text-align: center;
}
.formHead h1 {
  margin: 0;
  color: #eee;
  font-weight: 400;
  font-size: 30px;
}
.formHead p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
}
.formDiv {
  margin-bottom: 15px;
}
.formDiv input[type="text"], .formDiv input[type="email"], .formDiv input[type="password"] {
  background: transparent;
  border: none;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  padding: 15px;
  font-weight: 500;
  color: #fff;
  outline: none;
  transition: 0.2s ease;
}
.formDiv input[type="text"]:focus, .formDiv input[type="email"]:focus, .formDiv input[type="password"]:focus {
  box-shadow: inset 0 -2px 0 #fff;
}
.formDiv input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-weight: 500;
  border: none;
  background: #bc423b;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
}
.formDiv input[type="submit"]:hover {
  background: #bc423b;
}
.formOther {
  display: flex;
}
.formOther a {
  width: 50%;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  opacity: 0.5;
  font-weight: 700;
  text-align: center;
  transition: 0.2s ease;
}
.formOther a:hover {
  opacity: 1;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #B84236;
}
/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #B84236;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%;
}
/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#footer-box {
  width: 100%;
  height: 50px;
  background: #B84236;
}


#container-a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /*&:hover{
  width: 150px;
  border-radius: 50px;
  transition: $transition;
  }*/
}
.footer{
  background: #000;
  padding: 20px 0px;
  color: #fff;
}
.content_box{
    padding: 30px 0px;
    min-height: 550px
  }
  .formset{
  display: inline-block;
  width: 100%;
}


/*Admin Table Css starts*/
.header_user{
  background: #000;
  padding: 10px 0px;
  color:#fff;
  font-size: 20px;
}
.margin{
  margin: 0;
}
.padding{
  padding:0;
}
.set_padding{
  padding: 15px 0px;
}
/*Admin Table Css ends*/


.muy_ol{
  display: table;
  height: 90px;
}
.align_btns{
  display: table-cell;
  
  vertical-align: middle;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

 @media  (max-width: 767px){

#logo{
  display: none;
}


#formContainer{
  min-width: 100%;
  max-width: 100%;
  display: inline-block;
}
#forms form{
   min-width: 100%;
}
}
